// sns
.sns {
    .snsLefttextR {
        h2 {
            font-size: 30px;
            font-weight: 700;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            .colorchange {
                color: #B2A569;
                font-weight: 500;
            }
        }
    }
    .snsRighttextR {
        strong {
            font-size: 14px;
            font-weight: 500;
            color: white;
            background: #000;
            border-radius: 30px;
            width: 97px;
            height: 37px;
            display: flex;  /* Flexbox 사용 */
            justify-content: center;    /* 수평 가운데 정렬 */
            align-items: center;    /* 수직 가운데 정렬 */
        }
        p {
            font-size: 14px;
            font-weight: 400;
        }
    }

    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 10px;
        position: relative; 
    }
    .snsImgR {
        position: relative;
        width: 100%;
        height: 100%;
        transition: 0.5s ease;
        z-index: 1;
        &:hover {
            transform: scale(1.5);
            z-index: 2; 
        }
        &::after {
            content: "";
            background: url(../../img/instagram2.svg) no-repeat;
            width: 13px;
            height: 13px;
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
        }
    }

    .blurred {
        filter: blur(2px);
    }
}

@media (max-width: 1235px) {
    .sns {
        .textbox {
            .snsLefttextR {
                img {
                    height: 70px;
                }
                h2 {
                    font-size: 28px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 1107px) {
    .sns {
        .textbox {
            .colorchange {
                display: none;
            }
            .spantext {
                display: none;
            }
        }
    }
}

// 태블릿
@media (max-width: 1024px) {
    .sns {
        .textarea{
            position: relative;
            .snsLefttextR {        
                &::after{
                    content: "";
                    position: absolute;
                    z-index: 0; 
                    left: 0;
                    top: 0;
                    width: 45vw;
                    // min-width: px;
                    height: 35vw;
                    min-height: 200px;
                    background-color: #FFEBB7;
                    border-radius: 10px;
                    margin-left: 20px;
                }
                .titlebox {
                    position: absolute;
                    z-index: 999;
                    margin-top: 60px;
                    margin-left: 70px;
                    img {
                        top: 0;
                        height: 65px;
                        width: auto;
                    }
                    .text {
                        margin-left: 22px;
                        h2 {
                            font-size: 24px;
                        }
                        p {
                            letter-spacing: -2px;
                        }
                    }
                }
            }
        }
        .tablet {
            position: relative;
            top: 190px;
            .imgWrapper{
                margin-left: 70px;
                width: 100vw;
                .imgSwiper{
                    width: 100vw;
                    height: 350px;
                    .slideImg{
                        position: relative;
                        height: 100%;
                        &::after {
                            content: "";
                            background: url(../../img/instagram2.svg) no-repeat;
                            width: 13px;
                            height: 13px;
                            display: block;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            z-index: 1;
                        }
                        .img {
                            border-radius: 10px;
                            width: 100%;
                            height: 100%;
                            -o-object-fit: cover;
                            object-fit: cover;
                        }
                    }                         
                }
            }
            .snsRighttextR {
                margin-left: 70px;
                strong {
                    font-size: 16px;
                }
                p {
                    font-size: 16px;
                    span {
                        &::after {
                            content: " \00a0\00a0\00a0 | \00a0\00a0\00a0";
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}
    
// 모바일
@media (max-width: 768px) {
    .sns {
        .textarea {
            .snsLefttextR {
                &::after{
                    margin-left: 0;
                    width: 60vw;
                    border-radius: 0 10px 10px 0;
                }
                .titlebox {
                    margin-left: 20px;
                    h2 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 16px;
                        letter-spacing: -1px !important;
                    }
                }
            }
        }
        .tablet {
            position: relative;
            top: 170px;
            .imgWrapper {
                margin-left: 20px;
                .imgSwiper {
                    height: 30vw;            
                }
            }
            
            .snsRighttextR {
                margin-left: 20px;
                strong {
                    font-size: 14px;
                    width: 85px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
} 

@media (max-width: 490px) {
    .sns {
        .textarea{
            .snsLefttextR {   
                &::after{
                    width: 290px;
                    height: 193px;
                    border-radius: 0 10px 10px 0;
                    margin-left: 0px;
                }     
                .titlebox {
                    margin-left: 15px;
                    margin-top: 30px;
                    img {
                        height: 34px;
                    }
                    .text {
                        margin-left: 15px;
                        h2 {
                            font-size: 16px;
                            margin-bottom: 1.5px !important;
                        }
                        p {
                            font-size: 12px;
                            letter-spacing: -2px;
                        }
                    }
                }
            }
        }
        .tablet {
            top: 110px;
            .imgWrapper{
                margin-left: 15px;
                .imgSwiper{
                    .slideImg{
                        position: relative;
                        height: 100%;
                        img {
                            border-radius: 3px;
                        }
                    }                         
                }
            }
            .snsRighttextR {
                margin-left: 15px;
                strong {
                    font-size: 12px;
                    font-weight: 400;
                    width: 70px;
                    height: 22px;
                }
                p {
                    font-size: 10px;
                    span {
                        &::after {
                            content: " \00a0\00a0 | \00a0\00a0";
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 320px) {
    .sns {
        .textarea{
            .snsLefttextR {   
                &::after{
                    width: 270px;
                }     
                .titlebox {
                    .text {
                        p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .tablet {
            position: relative;
            .imgWrapper{
                width: 100vw;

                .imgSwiper{
                    // width: 100vw;
                    height: 123px;
                    .slideImg{
                        position: relative;
                        height: 100%;
                    }                         
                }
            }
            .snsRighttextR {
                margin-left: 15px;
                strong {
                    font-size: 9px;
                    width: 48px;
                    height: 17px;
                }
            }
        }
    }
}



.mainslider {
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    &::after{
        content: "";
        display: block;
        position: absolute;
        height: 45px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: #fff;
    }
    .mainwrapper{
        position: relative;
        margin-left:-750px;
        overflow-x: hidden;
        .mainTextbox{
            max-width: 700px;
            margin-top: 396px;     
            min-width: 420px;
            width:20vw;      
            .mainSlidetext{
                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: white;
                    background: #000;
                    border-radius: 30px;
                    width: 155px;
                    height: 41px;
                    display: flex; 
                    justify-content: center;    
                    align-items: center;  
                }
                strong {
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 46px;
                    letter-spacing: -6%;
                }
                .text_with_underline {
                    text-decoration: none;
                    font-size: 18px;
                    margin-bottom: 1px; /* 텍스트와 밑줄 사이의 공간 조정 */
                    &::after {
                        content: "";
                        display: block;
                        height: 1px; 
                        background-color: #333; 
                        margin-top: 1px; 
                        width: 4.8rem;
                    }
                }
            }
        }
        .mainPagebox{
            position: absolute;
            width: 100%;
            height: 45px;
            left: 0;
            bottom: 0;  
            z-index: 999999;  
            .swiper_progress_bar {
                position: relative;
                height: 1px;
                background: #ccc;
                overflow: hidden;
                width: 180px;             
                .slide_progress_bar {
                  width: 100%;
                  height: 100%;                 
                  .fill {
                    background: #000;
                    position: absolute; 
                    left: 0;
                    top: 0;  
                    height: 100%;
                    width: 0%; /* 초기 너비 설정 */
                    transition: width 5s linear;
                  } 
                  .fillCover {
                    background: #ccc;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1; /* 프로그레스바 위에 덮개가 표시되도록 */
                    display: none; /* 초기 상태는 숨김 */
                  }
                }
              }
            .numberui{
                position: static;
                width: auto;
                margin-left: 20px;
                font-size: 15px;
                letter-spacing: 0 !important;
                .swiper-pagination-current{
                    color: #000 !important;
                }
                .swiper-pagination-total{
                    color: #666 !important;
                }
            }
            .btn{
                position: relative;
                margin-left: 30px;
                width: 60px;
                border: 0;
                z-index: 999999;
                cursor: default;
                .buttonPrev{
                    margin: 0;
                    border: 0;
                    width: 10px;
                    height: 12px;
                    background: url('../../img/mainLeft.svg') no-repeat;
                    background-size: 10px;
                }
                .button_auto{
                    width: 10px;
                    height: 12px;
                }
                .button_autoControl {
                    overflow: hidden;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: url('../../img/mainStop.svg') no-repeat;
                    background-size: auto;
                    background-position: center;
                }                      
                .buttonNext{
                    margin: 0;
                    border: 0;
                    width: 10px;
                    height: 12px;
                    background: url('../../img/mainRight.svg') no-repeat;
                }
            }
        }
    }

    .mainImgbox{
        margin-top: 264px;      
        height: 580px;
        z-index: 2;
        width: 1100px;
        .img{
            border-radius: 10px;
            width: 100%;
            height: 580px;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}